
#carrousel {
    display:flex;
    position: relative;
    height:60vh;
    width:50vw;
    margin-left: 25%;
}

.arrow {
    position: absolute;
    font-size: 60px;
    top: calc(40%);
    color: rgb(252, 249, 249);
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s;
}
.arrow:hover {
    opacity: 1;
}

.arrow.left {
    left: 50px;
    
}
.arrow.right {
    right: 50px;
}


#carrousel_images {
    width: 60vw;
    height: 50vh;
    margin:0 auto;
    overflow: hidden;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: none;
}
.image.active {
    display: block;
}
.image.transition {
    transform: translateZ(-100%);
}


#puces {
    position: absolute;
    bottom: 10%;
    display: flex;
    left: 50%;
    transform: translateX( -50% );
   
}
.puce {
    margin:0px 10px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid rgb(196, 207, 255);
    cursor: pointer;
}
.puce:hover {
    background-color: rgb(126, 123, 123);
}
